<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments :: html_head('Error Error', 'none')"></head>
  <body>
    <div th:replace="header :: header">Header</div>

    <div class="container-fluid">
      <div class="error m-3">
        <h2>
          An error occurred. We are trying to fix this problem. <br />
          Thank you for your patience.
        </h2>
      </div>

      <div th:replace="footer :: footer">Footer</div>
    </div>
  </body>
</html>
