<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="content" th:remove="tag">
      <div class="form-group row">
        This information is to calculate shipping charges. <br />
        Dimension are for packaging and not for the product itself.
      </div>
      <div class="form-group row">
        <label class="form-label">Length (cm):</label>
        <input
          type="number"
          step="0.01"
          class="form-control"
          placeholder="Package length *"
          th:field="*{length}"
        />
      </div>

      <div class="form-group row">
        <label class="form-label">Width (cm):</label>
        <input
          type="number"
          step="0.01"
          class="form-control"
          placeholder="Package width *"
          th:field="*{width}"
        />
      </div>

      <div class="form-group row">
        <label class="form-label">Height (cm):</label>
        <input
          type="number"
          step="0.01"
          class="form-control"
          placeholder="Package height *"
          th:field="*{height}"
        />
      </div>

      <div class="form-group row">
        <label class="form-label">Weight (kg):</label>
        <input
          type="number"
          step="0.01"
          class="form-control"
          placeholder="Package weight *"
          th:field="*{weight}"
        />
      </div>
    </div>
  </body>
</html>
