<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="content" th:remove="tag">
      <div class="mt-2">
        <textarea
          class="form-control"
          th:field="*{summary}"
          required
          maxlength="512"
          rows="3"
        ></textarea>
      </div>

      <div class="mt-2">
        <textarea
          class="form-control"
          th:field="*{description}"
          required
          rows="10"
          maxlength="4096"
        ></textarea>
      </div>
    </div>
  </body>
</html>
